<html>
    <head>
        <style>
          
              
          body {
  background-color: rgb(104, 98, 92);
}

   h1 {
        color: maroon;
          margin-left: 40px;
    </style>
         <title><%= title %></title>
        
                   
    </head>
    <body>
         
     </body>