<html>
    <head>
        <title><%= title %></title>
        <a href="/">Home</a><span> | 
        </span><a href="/providers">Providers</a> 
        <span class="user" name="user">Michalis </span>
        <a href="#" class="user">Sign Out</a>
    </head>
    <body>