 <% include partials/header.ejs %>
        <h1>Welcome to Cuvala! - relocate anything anywhere</h1>
            <form method="POST" action="database/search">
                <label for="">I want to move stuff from: </label><br>
                <input type="text" name="fromLocation" id="">
                <br>
                <label for="">To: </label><br>
                <input type="text" name="toLocation" id="">
                <br>
                <input type="submit" value="Submit">
            </form>
        <h2   style="color:blue;margin-left:30px;">  : </h2>
        <h1>Services we  offer :</h1>
        <ul>
            <% serviceProviders.forEach(function(sp){ %>
                <li>package delivering<%= sp.name %></li>
            <% }) %>
            <li>Hosting</li>
        </ul>
  <% include partials/footer.ejs %>